body{
    background-color: darkgreen;
    margin: 0 auto;
}

.container{
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10% auto 0;
    border: 1px;
}

kbd {
    /*position: absolute;*/
    display: inline-block;
    /*width: 10%;*/
    height: 100%;
    margin-left: 0;
    background-color: white;
    border-radius: 2px;
    padding: 5%;
    border: 2px solid black;
    text-align: center;

}